
.cat-main{
    display: flex;
    flex-direction: row;
    .sidemenu{
      background-color: #e88467;
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 20px;
      padding: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.projects-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


