.addition-content{
    font-family: "JetBrains Mono";
    display: flex;
    justify-content: center;
    align-items: center;
    .addition-form{
        background-color: var(--secondary-color);
        width: 70%;
        border-radius: 10px;
        padding: 2%;
        h1{
            margin-top: 0;
        }
        textarea{
            border: none;
            border-radius: 10px;
            padding: 1%;
            width: 80%;
            justify-self: center;
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .addition-main-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10%;
            height: auto;
            .date-con{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .date-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10%;
                width: 80%;
                height: 20%;
                span{
                    font-family: "JetBrains Mono";
                    font-size: 110%;
                    width: 100%;
                }
            }
            .addition-date{
                width: 40%;
                border: none;
                border-radius: 3px;
                padding: 2% 0 2% 1%;
              box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .addition-input{
                width: 80%;
                height: 4vh;
                border-radius: 5px;
                padding: 1vh 0 1vh 0;
                border: none;
                font-family: "JetBrains Mono";
                font-size: 100%;
              box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
            }
          .addition-input:focus{
            outline: none;
            border: lightskyblue solid 1px;
            box-shadow: 0 4px 4px hsla(209, 89%, 77%, 0.7);
          }
          .addition-date:focus{
            outline: none;
            border: lightskyblue solid 1px;
            box-shadow: 0 4px 4px hsla(209, 89%, 77%, 0.7);
          }
        }
        .addition-photo{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            margin-right: 8%;
            .preview{
                width: 50%;
                border-radius: 10px;
                aspect-ratio: 1/1;
                background-color: #9e9088;
                margin-bottom: 5%;
              box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
            }
            #addition-image{
                width: 50%;
                border-radius: 5px;
                border: none;
            }
        }
        #submit-addition{
            background-color: var(--main-color);
            border: none;
            padding: .5% .8% .5% .8%;
            border-radius: 5px;
            display: flex;
            width: auto;
            justify-content: center;
            align-items: center;
            font-size: clamp(0.5rem, 2vw, 1.75rem);
            font-family: "JetBrains Mono";
            color: white;
            cursor: pointer;
          box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
        }
      #addition-completion{
        text-align: center;
        grid-column: 1 / -1;
      }
    }
}
.addition-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.addition-form > h1 {
    grid-column: 1 / -1;
    text-align: center;
}

.addition-main-info {
    grid-column: 1 / 2;
}

.addition-photo {
    grid-column: 2 / 3;
}
#addition-text{
    align-self: center;
    grid-column: 1 / -1;
    width: 100%;
    height: 20vh;
}
#submit-addition{
    grid-column: 1 / -1;
    width: 50%;
    justify-self: center;
}

#addition-text:focus{
  outline: none;
  border: lightskyblue solid 1px;
  box-shadow: 0 4px 4px hsla(209, 89%, 77%, 0.7);
}
@media only screen and (max-width: 800px) {
  .addition-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 5px;
    height: 80vh;
  }
  .addition-content{
    .addition-form{
      .addition-main-info{
       justify-content: space-between;
      }
      .addition-photo{
        align-items: center;
        .preview{
          width: 120%;
        }
        #addition-image{
          width: 100%;
        }
      }
      #submit-addition{
        padding: .2% .4% .2% .4%;
        height: 5vh;
      }
    }
  }

}
