
.cat-main{
    display: flex;
    flex-direction: row;
    .sidemenu{
      .category-search-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0;
        margin-bottom: 1vh;
        #category-filter-search{
          margin-bottom: 0;
        }
        .checkbox-group{
          list-style: none;
          padding-left: 0;
          max-height: 20vh;
          width: 92%;
          margin-top: 0;
          overflow-y: scroll;
          scrollbar-width: thin;
          background-color: var(--secondary-color);
          margin-bottom: 0;
          li{
            padding: 1%;
            border-bottom: 1px solid rgba(78, 71, 67, 0.5);
            label{
              cursor: pointer;
              display: flex;
              width: 100%;
            }
            
          }
          li:hover{
            background-color: rgba(237, 128, 71, 0.5);
          }
        }
      }

      background-color: var(--main-color);
      border-radius: 20px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      margin: 20px 40px 20px 20px;
      padding: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      min-height: 600px;
      width: 20vw;
      h4{
        text-align: center;
      }
      .filter-input{
        border: none;
        outline: none;
        border-radius: 3px;
        margin: 10px;
        height: 4vh;
        width: 90%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
      }
      .date-label{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .filter-date{
        border: none;
        outline: none;
        border-radius: 2px;
        margin: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      .filter-button{
        border: none;
        outline: none;
        border-radius: 5px;
        margin: 5px;
        padding: 5px;
        background-color: var(--secondary-color);
        align-self: center;
        width: 50%;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
  }
}
.sidemenu-button{
  display: none;
}
.projects-container{
  width: 80vw;
  max-height: 150vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    margin-top: 20px;
    .project{
        background-color: var(--secondary-color);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        width: 97%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        .project-info{
            display: flex;
            gap: 0.5%;
            width: 80%;
            flex-direction: column;
            .project-description{
                overflow: hidden;
                text-overflow: ellipsis;
                height: 75%;
                font-size: clamp(0.6rem, 2vw, 1rem);
            }
        }

        .project-name{
            height: 15%;
            margin: 0;

          font-size: clamp(1rem, 2.5vw, 1.5rem);
        }
        h5{
            font-size: clamp(0.6rem, 2vw, 1rem);
            height: 8%;
            margin: 0;
            margin-top: 1%;
        }
        .project-photo{
            margin: 1%;
            max-height: 80%;
            aspect-ratio: 1/1;
            align-self: center;
        }
    }
}
footer{
    position: static;
}

@media only screen and (max-width: 800px) {
  .sidemenu {
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    min-width: 250px;
    transition: left 0.5s;
    background-color: white;
    z-index: 1000;
  }
  .projects-container{
    justify-content: center;
    width: 95vw;
  }
  .sidemenu-button{
    display: flex;
    transition: left 0.5s;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    position: fixed;
    left: -3vh;
    top: 48vh;
    height: 7vh;
    width: 7vh;
    background-color: rgba(144, 198, 249, 1);
    color: white;
    font-size: 4vh;
    font-weight: bold;
  }
  .sidemenu-button.active{
    left: 260px;
    z-index: 1001;
  }
  .sidemenu.active {
    left: 0;
  }
  .project{
      width: 70%;
      justify-content: flex-start;
      padding: 0;
      margin-left: 10px;
      gap: 0;
  }
  .projects-container{
    .project-info{
      width: 50%;
      gap: 2%;
      .project-name{
        margin-bottom: 2%;
      }
    }

    .project-photo{
      height: 70%;
    }
  }
}


