.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-bottom: 2vh;
  margin-top: 2vh;

  .title-flex-ver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
  img{
    width: 9vw;
    aspect-ratio: 1/1;
  }
  .secondary-title{
    font-family: "JetBrains Mono";
    font-size: 0.8vw;
    margin: 0;
  }
  .title{
    font-family: "JetBrains Mono ExtraBold";
    font-size: 4vw;
    letter-spacing: -0.1em;
    font-weight: bold;
    margin: 0;
  }
}

.welcoming-speech{
  padding: 0 25vw 0 25vw;
  margin: 20px 0 20px 0;
  text-align: justify;
}
.to-catalogue-container{
  display: flex;
  margin-top: 3vh;
  justify-content: center;
  .to-catalogue:hover{
    background-color: var(--background-color);
    cursor: pointer;
  }
  .to-catalogue {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    h2{
      padding: 0 30px 5px 30px;
      margin: 0;
      color: var(--font-color);
      font-size: 40px;
      font-weight: normal;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 800px) {

}

