body{
  width: 100%;
  height: 80vh;
}

.login-content{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .login-form{
    border: black solid 2px;
    padding: 20px;
    border-radius: 10px;
    h1{
      font-weight: bold;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .auth-input{
      aspect-ratio: 20/2;
    }
  }
}

