.project-content{
    display: flex;
    justify-content: center;
    align-items: center;
  h1{
    text-align: center;
    font-size: clamp(2rem, 4vw, 3rem);
  }
}
.project-flex-hor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 8%;
}
.project-flex-ver{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 30%;
}
.project-main{
    width: 80%;
    font-family: "JetBrains Mono";
}
.project-main-info{
    width: 80%;
    justify-content: flex-start;
    gap: 0;
}
img{
    width: 15vw;
    height: 15vw;
}
p{
    min-height: 10vh;
}
main{
    min-height: 30vh;
}

h3 {
    margin: 0;
    text-align: center;
    font-size: clamp(0.5rem, 3vw, 2rem);
}
h5 {
    margin-top: 0;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
    font-weight: lighter;
    font-style: italic;
}
span{
  font-size: clamp(0.5rem, 2vw, 1.75rem);
}
p{
    margin: 0;
}
.openModal{
  display: flex;
  align-self: center;
  background-color: var(--main-color);
  font-family: "jetbrains mono";
  border: none;
  border-radius: 10px;
  width: auto;
  height: 5vh;
  font-size: clamp(0.5rem, 2vw, 1.75rem);
  color: white;
  padding: 10px;
  align-items: center;
  margin-top: 10vh;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25vw;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .modal-content {
    width: 250px;
  }
  .modal-content {
    address{
      font-size: clamp(0.5rem, 2vw, 1rem);
    }
    h2{
      font-size: clamp(0.75rem, 2vw, 1.25rem);
    }
  }

}
