.register-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .signUp{
    h1{
      font-weight: bold;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: black solid 2px;
    padding: 20px;
    border-radius: 10px;
  }
  a{
    text-decoration-line: underline;
  }
}
footer{
  position: static;
}
