.register-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .signUp{
    h1{
      font-weight: bold;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  a{
    text-decoration-line: underline;
  }
}
